In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
from statsmodels.graphics.gofplots import *
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, precision_score, recall_score
import joblib
from time import time

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPRegressor, MLPClassifier
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier, GradientBoostingRegressor

import warnings
warnings.filterwarnings('ignore', category=FutureWarning)
warnings.filterwarnings('ignore', category=DeprecationWarning)

df = pd.read_csv("/content/drive/MyDrive/2. data/food.csv")

In [ ]:
df.head()

,fdc_id,data_type,description,food_category_id,publication_date
0,319874,sample_food,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
1,319875,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
2,319876,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
3,319877,sub_sample_food,Hummus,16.0,2019-04-01
4,319878,sub_sample_food,Hummus,16.0,2019-04-01

In [ ]:
df.dtypes

fdc_id                int64
data_type            object
description          object
food_category_id    float64
publication_date     object
dtype: object

In [ ]:
# understand how many values are in each data_type
df['data_type'].value_counts()

sub_sample_food             19126
market_acquisition           5480
sample_food                  1982
agricultural_acquisition      810
foundation_food               195
Name: data_type, dtype: int64

In [ ]:
# understand how many values are in each food_category_id
df['food_category_id'].value_counts()

1.0     6406
9.0     3982
11.0    3788
4.0     2924
16.0    2450
5.0     1503
14.0     918
15.0     913
7.0      795
10.0     613
20.0     588
6.0      568
18.0     488
25.0     474
13.0     454
2.0      386
12.0     267
19.0      54
Name: food_category_id, dtype: int64

In [ ]:
# understand how many values are in each publication_id
df['publication_date'].value_counts()

2019-04-01    15361
2021-04-23     7034
2019-12-16     2663
2020-10-30     1300
2020-04-01     1222
2021-04-28       13
Name: publication_date, dtype: int64

In [ ]:
# understand by different groupings
df.groupby('food_category_id')['data_type'].value_counts()

food_category_id  data_type
1.0               sub_sample_food       4271
                  market_acquisition    1544
                  sample_food            558
                  foundation_food         33
2.0               sub_sample_food        235
                                        ...
20.0              foundation_food         10
25.0              sub_sample_food        290
                  market_acquisition     134
                  sample_food             45
                  foundation_food          5
Name: data_type, Length: 73, dtype: int64

In [ ]:
# clearly the description column has too many unique values to work with... will nead to split the texts later to simplify
for col in df.columns:
  print('{}: {} unique values'.format(col, df[col].nunique()))

fdc_id: 27593 unique values
data_type: 5 unique values
description: 11367 unique values
food_category_id: 18 unique values
publication_date: 6 unique values

In [ ]:
# understand the impact of the null values
df.groupby(df['food_category_id'].isnull()).mean()

                         fdc_id  food_category_id
food_category_id
False             790139.046426          8.243118
True              775649.363636               NaN